@import "../../styles/global.scss";

.input {
  padding: $input-padding;
  font-size: $input-font-size;
  border: none;
  width: auto;
  box-sizing: border-box;
  border: $input-border;
  background-color: $input-background;
  width: 100%;

  &__on-remove {
    position: absolute;
    top: 6px;
    right: 6px;
    height: 29px;
    width: 29px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      height: 5px;
      width: 18px;
      background-color: red;
      border-radius: $input-border-radius;
    }
  }

  &:focus {
    outline-offset: none;
    outline: none;
  }
}
