.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: cornflowerblue; // #ffff00c2;

  &__header {
    height: 50px;
  }

  &__main {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__footer {
    height: 30px;
  }
}
