<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script>
      const DOMAIN = "${DOMAIN_NAME}";
      const API_URL = `http://api.${DOMAIN}/api`;
      const ANALYTICS_URL = `http://analytics.${DOMAIN}`;

      function addMessage(message) {
        var newElement = document.createElement("p");
        var newContent = document.createTextNode(message);
        newElement.appendChild(newContent);
        appendElement(newElement);
      }

      function appendElement(
        element,
        container = document.querySelector("#container")
      ) {
        container.appendChild(element);
      }

      function openPages(shortenerId) {
        fetch(`${API_URL}/shortener/${id}`)
          .then(response => response.json())
          .then(({ data }) => {
            let success = true;
            const newTabs = data.urls.map(url => window.open(url, "_blank"));
            const tabsOpened = newTabs.every(Boolean);
            if (tabsOpened) {
              addMessage("excelent you are great buddy");
            } else {
              success = false;
              addMessage(
                "you have to allow popups for this page, then refresh"
              );
            }
            return fetch(`${ANALYTICS_URL}/api/stats`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify({
                hash: id,
                success
              })
            });
          })
          .catch(() => {
            addMessage("the id doesnt exist brother");
          });
      }

      const id = location.pathname.replace("/", "");
      openPages(id);
    </script>
  </head>
  <body>
    <div id="container"></div>
  </body>
</html>
