@import "../../../styles/global.scss";

.track-details {
  &__hits {
    margin-bottom: 20px;
    span {
      font-weight: bold;
    }
  }

  &__table-explanation {
    margin-bottom: 20px;
  }

  &__table-container {
    @media only screen and (max-width: $mobile-width) {
      & {
        width: 90vw;
      }
    }
    width: 800px;
  }
}
