@import "../../styles/global.scss";

.table {
  &__container {
    width: 100%;
  }

  &__header {
    display: flex;
    flex-direction: row;
    background-color: white;
  }

  &__header-cell {
    padding: $table-header-cell-padding;
    box-sizing: border-box;
    font-weight: bold;
    @media only screen and (max-width: $mobile-width) {
      & {
        padding: $table-header-cell-padding-mobile;
      }
    }
  }

  &__rows {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;
  }

  &__row {
    display: flex;
    flex-direction: row;
    background-color: floralwhite;
    border-bottom: 1px solid lavenderblush;
    &:hover {
      background-color: azure;
      cursor: pointer;
    }
  }

  &__row-cell {
    padding: $table-row-cell-padding;
    box-sizing: border-box;
    @media only screen and (max-width: $mobile-width) {
      & {
        padding: $table-row-cell-padding-mobile;
      }
    }

    > p {
      white-space: nowrap;
      overflow: hidden;
      font-size: 14px;
    }
  }
}
