.view {
  &__container {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.form {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 25px;
    font-weight: bold;
  }

  &__explanation {
    font-size: 15px;
    margin-top: 5px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__input {
    margin-bottom: 10px;
  }

  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.error-display {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__messsage {
  }

  &__action {
    margin-top: 20px;
  }
}
