$button-padding: 10px 15px;
$button-font-size: 15px;
$button-border: 1px solid black;
$button-background: white;

$input-border-radius: 2px;
$input-font-size: 15px;
$input-border-radius: 2px;
$input-padding: 10px 20px;
$input-background: white;
$input-border: 2px solid black;

$table-header-cell-padding: 8px 15px;
$table-row-cell-padding: 8px 15px;

$table-header-cell-padding-mobile: 6px 10px;
$table-row-cell-padding-mobile: 6px 10px;

$app-font-size: 15px;

$mobile-width: 768px;
