.loader {
  &__layover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__spinner {
    animation: change-background 500ms infinite;
    font-weight: bold;
  }
}

@keyframes change-background {
  0% {
    opacity: 1;
    font-size: 28px;
  }

  50% {
    opacity: 0.6;
    font-size: 27px;
  }

  100% {
    opacity: 1;
    font-size: 28px;
  }
}
